:root {
  --background: #0f0f0f;
  --shadow: #232d3f;
  --accessory: #005b41;
  --text: #008170;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

.border-style {
  border: 1px solid var(--shadow);
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 10px var(--shadow),
    -10px -10px 10px 10px var(--shadow), -10px 10px 10px 10px var(--shadow),
    10px -10px 10px 10px var(--shadow);
}

h1 {
  text-align: center;
  font-size: xx-large;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accessory);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}

input {
  background-color: var(--shadow);
  color: white;
}

textarea {
  background-color: var(--shadow);
  color: white;
  margin-top: 5px;
}

button {
  background-color: var(--accessory);
  color: white;
}

.green {
    background-color: var(--accessory);
}

/* Header */

header {
  width: 600px;
  position: absolute;
  top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin-top: 0;
}

#login-button {
  width: 5rem;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

#login-section {
  display: none;
}

#signed_in_options {
  display: none;
}

#logout-button {
  align-self: flex-end;
}

/* Main content */

main {
  width: 100%;
  height: clamp(750px, 90% - 200px, 1600px);
  margin-top: 200px;
}

#post_section {
  width: clamp(600px, 40%, 1200px);
  height: clamp(700px, 100%, 1500px);
  margin: auto;
}

#post_list {
  border-radius: 1rem;
  overflow-y: scroll;
  height: 90%;
}

article {
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px var(--accessory),
    -2px -2px 2px 2px var(--accessory);
  padding: 1rem;
}

article h4 {
  margin-top: 0;
}

article p {
  margin-bottom: 0;
}

/* Admin Items */

#admin_section {
  position: absolute;
  left: 1rem;
  top: 20%;
  width: clamp(300px, 20%, 600px);
  padding: 1rem;
  /* display: none; */
  display: flex;
  flex-direction: column;
}

#create_post_form,
#edit_post_form {
  display: flex;
  flex-direction: column;
}

#create_post_form {
  display: none;
}

#selected_post_info {
  display: none;
  border: 1px solid var(--accessory);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#selected_title {
  margin-top: 0;
}

#id {
  margin-bottom: 0;
}

#edit_post_form {
  display: none;
}

#edit_post_form p {
  margin-top: 0;
}

#delete_post_section {
  display: none;
}

#post,
#update,
#delete_button {
  width: 10rem;
  align-self: center;
  padding: 0.2rem;
  margin-top: 0.3rem;
}

#hide {
  align-self: flex-end;
}

#show {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: none;
}
